body 
{
text-align: center;
color: #333;
font-family: cursive;
letter-spacing: 1px;
font-size: 16px;
margin: 0;
padding: 0;
}
#cabecera
{
background-color: #28cfcd;
box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 5);
color: white;
font-weight: bold;
margin: 0;
padding: 0.5em;
font-family: 'Times New Roman', Times, serif;
}
#imagenCabecera{
width: 25px;

}
#contenedor
{
width: 70%;
padding: 1em;
text-align: left;
border: 1px solid #ddd;
margin: 0 auto;



}

#contenedor h1

{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
}